/* work1-3 */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: flex-end;
}

li {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li + li {
    border-left: 1px solid #2b2828;
}

@media screen and (max-width: 767px) {
    /* 画面サイズ 767px以下になったらここに書いてあるcssが適用される */

    header {
        display: block;
    }
    ul {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
    }
    li {
        justify-content: flex-start;
        border-bottom: solid;

        padding: 20px;
    }

    li + li {
        border-left: none;
    }
}
