/* work01 */
body {
    height: 100vh;
    background: #eeeeee;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    margin-left: 10px;
    max-width: 960px;
    background-color: white;
    margin: 20px;
    padding-bottom: 10px;
}

h2 {
    padding: 50px;
    text-align: center;
    color: #088272;
}

h3 {
    border-left: 7px solid #088272; /* 縦線 */
    color: #088272;
    margin: 10px;
    padding-left: 5px;
}

h3,
p {
    max-width: 330px;
}

/* work02 */
@media screen and (max-width: 767px) {
    /* 画面サイズ 767px以下になったらここに書いてあるcssが適用される */
    header {
        display: block;
    }
    ul {
        display: flex;
        flex-direction: column;
        padding: 5px 10px 100px 10px;
    }
    li {
        justify-content: flex-start;
    }

    img {
        width: 100%;
    }

    body {
        background: #eeeeee;
    }
}
