@charset "utf-8";
body {
    background-color: #e8d9bf;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 7% 0 2.7%;
}

.logo img {
    width: 226.76px;
}

.header_nav ul {
    display: flex;
    gap: 45px;
}

.header_nav li {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 18px;
    color: #fff;
    width: 105px;
    text-align: center;
}

.slider {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 50vw;
}

.slider img {
    width: 100%;
}

/* TITLE */

.title {
    padding-top: 330px;
    text-align: center;
}

.title h3 {
    padding-top: 116px;
    line-height: 0.7;
}

.title h1 {
    padding-top: 50px;
    line-height: 1.2;
    font-size: 60px;
    font-family: 游明朝;
    font-weight: normal;
}

.title p {
    padding-top: 47px;
    line-height: 0.9;
    font-family: 游明朝;
    font-weight: normal;
    font-size: 23px;
}

/* ABOUT US */

.ABOUT {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.about-img {
    width: 500px;
    height: 560px;
    padding-right: 40px;
}

.about-font img {
    width: 272px;
    height: 77px;
}

.about {
    width: 430px;
    padding-left: 40px;
}

.about h2 {
    font-family: 游明朝;
    font-weight: normal;
    font-size: 44px;
    padding-top: 10px;
    padding-bottom: 10px;

    /* white-space: pre;
    width: 352px;
    height: 115px; */
}

.about p {
    /* white-space: pre;
    width: 410px;
    height: 292px; */

    font-family: 游明朝;
    font-weight: normal;
    font-size: 16px;
}

/* MENU */

.MENU {
    padding-top: 50px;
}

.menu-font img {
    width: 151px;
    height: 78px;
}

.MENU ul {
    display: flex;
    padding: 50px;
}

.MENU li {
    padding: 20px;
}

.MENU li h2 {
    font-family: 游明朝;
    font-weight: normal;
    font-size: 38px;
    color: #d30202;
}

/* GALLERY */

.gallery-img {
    display: flex;
    max-width: 384px;
    height: 300px;
}

.gallery-font img {
    padding: 25px;
    width: 245px;
    height: 78px;
    display: flex;
    justify-content: center;
}

/* EVENT */
.event-font {
    width: 173px;
    height: 78px;
    padding: 72px;
}

.infobox {
    width: 1000px;
    height: 200px;
    background-color: #ffffff;
    border: solid 4px #4f260b;

    /* ↓本当は<ul>に記述？ */
    display: flex;
    justify-content: center;
}

.info li {
    text-decoration: underline;
}

/* ACCESS */

.access-font {
    width: 213px;
    height: 78px;
    padding: 80px;
}
.access-map iframe {
    width: 100%;
}

/* FOOTER */
footer {
    background-color: #ffffff;
}
.footer {
    display: flex;
    justify-content: center;
}
.footer-font {
    width: 226px;
    height: 50px;
    padding: 82px;
}

.footer-address {
    font-family: 游明朝;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
}

.footer-address {
    white-space: pre;
    width: 346px;
    height: 141px;
    font-size: 25px;
}

.footer copyright {
    font-family: 游明朝;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
}
