@charset "utf-8";

body {
    background-color: #e8d9bf;
}

.header_container {
    position: absolute;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 7% 0 2.7%;
    box-sizing: border-box;
}

.logo img {
    width: 226.76px;
}

.header_nav ul {
    display: flex;
    gap: 45px;
}

.header_nav li {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 18px;
    color: #fff;
    width: 105px;
    text-align: center;
}

.slider {
    width: 100%;
}

.slider img {
    width: 100%;
}

/* TITLE */

.title {
    text-align: center;
}

.title h3 {
    padding-top: 80px;
    line-height: 0.7;
}

.title h1 {
    padding-top: 47px;
    line-height: 1.2;
    font-size: 60px;
    font-family: 游明朝;
    font-weight: normal;
}

.title p {
    padding-top: 20px;
    line-height: 0.9;
    font-family: 游明朝;
    font-weight: normal;
    font-size: 23px;
}

/* ABOUT US */

.ABOUT {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    border-bottom-right-radius: 100px;
}

.about-img {
    width: 500px;
    height: 560px;
    padding-right: 40px;
}

.about-font img {
    width: 272px;
    height: 80px;
}

.about {
    width: 430px;
    padding-left: 40px;
}

.about h2 {
    font-family: 游明朝;
    font-weight: normal;
    font-size: 44px;
    padding-top: 20px;
    line-height: 1.3;

    /* white-space: pre;
    width: 352px;
    height: 115px; */
}

.about p {
    max-width: 415px;
    font-family: 游明朝;
    font-weight: normal;
    font-size: 16px;
    padding-top: 25px;
    line-height: 1.6;
}

/* MENU */

.MENU {
    max-width: 1000px;

    margin: 0 auto;
    padding-top: 50px;
}

.MENU li img {
    border-top-right-radius: 50px;
    max-width: 328px;
    max-height: 219px;
}
.menu-font img {
    width: 151px;
    height: 78px;
    display: block;
    margin: auto;
    padding: 20px;
}

.MENU ul {
    display: flex;
    width: 100%;
}

.MENU li {
    justify-content: center;
    margin-right: 50px;
}

.MENU li h2 {
    font-family: 游明朝;
    font-weight: normal;
    font-size: 38px;
    color: #d30202;
    margin-top: -12px;
}

.MENU li p {
    max-width: 300px;
}

/* GALLERY */

.gallery-img {
    display: flex;
}

.gallery-img img {
    width: 20%;
}

.gallery-font img {
    padding: 25px;
    width: 245px;
    height: 78px;
    display: block;
    margin: auto;
}

/* EVENT */
.EVENT {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}

.event-font {
    width: 173px;
    height: 78px;
    padding: 72px;
    display: block;
    margin: auto;
}

.EVENT .infobox {
    max-width: 1000px;

    background-color: #ffffff;
    border: solid 4px #4f260b;

    display: block;
    margin: auto;
    padding-top: 38px;
    padding-bottom: 22px;
}

.infobox ul {
    max-width: 670px;
    margin: 0 auto;
    font-size: 23px;
}

.info li {
    margin-bottom: 20px;
    text-decoration: underline;
}

.info li .date {
    margin-right: 35px;
}

.info .date-info {
    padding-left: 50px;
}

/* ACCESS */

.access-font {
    width: 213px;
    height: 78px;
    padding: 80px;
    display: block;
    margin: auto;
}
.access-map iframe {
    width: 100%;
    vertical-align: bottom;
}

/* FOOTER */
footer {
    background-color: #ffffff;
    width: 100%;
}

.FOOTER {
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 70px;
    max-width: 1000px;
    margin: 0 auto;
    gap: 53px;
}

.footer-font {
    width: 226px;
    height: 50px;
}

.footer-address ul {
    /* フォントの詳細 */
    font-family: 游明朝;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
}

.footer-address li {
    padding-left: 67px;
    line-height: 1.9;
}

.copyright p {
    font-family: 游明朝;
    font-weight: normal;
    font-size: 16px;
    color: #000000;

    text-align: center;
    padding: 60px 0;
    line-height: 2.1;
}

/* ページ内リンク */

#page-top {
    position: fixed;
    right: 100px;
    bottom: 180px;
    padding: 10px;
    width: 125px;
    height: 125px;
}
